
@{
    ViewBag.Title = "BookStockData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" defer></script>
    <script src="~/Assets/assets/js/script.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <style>
        /* Reduce font size for the description column */
        .description-column {
            font-size: 12px; /* Adjust the font-size as needed */
        }
        /* Apply no-wrap to the entire table */
        table.dataTable td {
            white-space: nowrap;
        }

        table.dataTable th {
            white-space: nowrap;
        }

        body {
            transition: opacity 0.5s; /* Optional: Smooth transition for opacity change */
        }

        .table-responsive {
            position: relative; /* Ensure the loader is positioned relative to this container */
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 2s linear infinite;
            z-index: 1000; /* Make sure it is on top of the table */
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>
<input type="hidden" id="url_local" value="@System.Configuration.ConfigurationManager.AppSettings["url_local"]" />
<body>

    <div class="main main-app p-3 p-lg-4">
        <h4>Book Stock Inventory Data:</h4>

        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="row">

                        <div class="col-sm-4" style="padding-top: 10px; padding-left: 20px;">
                            <label>Inventory Period</label>
                            <select style="max-width: 400px;" id="invPeriodSelect" class="form-control"></select>
                        </div>
                        <div class="col-sm-4" style="padding-top: 10px; padding-left: 20px;">
                            <label>Location:</label>
                            <select style="max-width: 400px;" id="invPeriodwiseLocation" class="form-control"></select>
                        </div>
                        <div class="col-sm-4" style="padding-top: 10px; padding-left: 20px;">
                            <label>Inventory:</label>
                            <select style="max-width: 400px;" id="inventoryDD" class="form-control"></select>
                        </div>

                    </div>
                    <hr />

                    <div class="card-body" style="margin-top: -30px;">
                        <div style="color:black" class="table-responsive hoverable-data-table">
                            <div class="loader" style="display: none;"></div>
                            <br />
                            <table id="data-table" class="table table-hover nowrap table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Item No</th>
                                        <th>Book Stock Inventory</th>
                                        <th>Inventory Name</th>
                                        <th>Unit Cost Price</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="../Assets/assets/contents/js/BookStockData.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="../Assets/assets/contents/js/GenericAjax.js"></script>
    <script src="../Assets/assets/contents/js/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
