
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="../Assets/assets/js/jquery-3.6.1.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.1.js"></script>*@
    <script type="text/javascript" src="../Assets/assets/js/jquery.dataTables.min.js" defer></script>
    @*<script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" defer></script>*@
    <script src="../Assets/assets/js/script.js"></script>
    <link rel="stylesheet" href="../Assets/assets/css/jquery.dataTables.min.css">
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">*@
    <link href="../Assets/assets/css/materialdesignicons.min.css" rel="stylesheet" />
    @*<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="../Assets/assets/css/font-awesome.css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />*@

</head>
<input type="hidden" id="url_local" value="@System.Configuration.ConfigurationManager.AppSettings["url_local"]" />
<body>
    <div class="loader" style="display: none;"></div>
    <div class="main main-app p-3 p-lg-4">
        @*<h4>Devices Configuration</h4>*@

        <div class="container p-30">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom d-flex justify-content-between">
                            <h2>Devices Configuration</h2>
                        </div>
                        <div class="card-body">
                            <div style="color:black" class="table-responsive hoverable-data-table">
                                <table id="tblDevices" class="table table-hover nowrap table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style='display:none'>GUID</th>
                                            <th>Code</th>
                                            <th>English Name</th>
                                            <th style='display:none'>Ar Name</th>
                                            <th>Hardware ID</th>
                                            <th>License Key</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*modelpopup*@
        <div class="modal fade" id="modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLarge" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header header">
                        <button type="button" id="cls" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title" id="exampleModalLarge2" style="color:white">Scale</h2>

                    </div>
                    <div class="modal-body">
                        <input type="hidden" type="text" maxlength="100" id="deviceGUID" />
                        <div class="row">

                            <div class="col-sm-6 ">
                                <label>Code</label>
                                <input disabled class="form-control" placeholder="" type="text" maxlength="100" id="code" />
                            </div>

                            <div class="col-sm-6">
                                <label>En Name</label>
                                <input class="form-control" type="text" maxlength="15" placeholder="Insert English Name here" id="engName" />
                            </div>
                        </div>

                        <br />

                        <div class="row">

                            <div class="col-sm-6">
                                <label>Ar Name</label>
                                <input class="form-control" placeholder="Insert Arabic Name Here" type="text" id="ArName" />
                            </div>

                            <div class="col-sm-6">
                                <label>Hardware ID</label>
                                <input disabled class="form-control" type="text" maxlength="128" placeholder="" id="hardwareID" />
                            </div>

                        </div>

                        <br />

                        <div class="row">
                            <div class="col-sm-6">
                                <label>License Key</label>
                                <input class="form-control" type="text" maxlength="128" placeholder="" id="licKey" />
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btnclose" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
                        <button type="button" id="btnsave" title="Save" class="btn btn-primary btn-pill">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Assets/assets/contents/js/DevicesConfiguration.js"></script>
    <script src="../Assets/assets/contents/js/MenuOptions.js"></script>
    <script src="../Assets/assets/contents/js/GenericAjax.js"></script>
    <script src="../Assets/assets/contents/js/sweetalert.min.js"></script>
</body>
